doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    a(href="/traitDon/form", title="traitement des donnees", target="_blank") Gestion des données
    br 
    br
    a(href="/r/form", title="executer une commande R", target="_blank") Exécuter une commande R
    block content